<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Sidik jari / wajah untuk membuka aplikasi. -->
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <!-- Hanya untuk iklan AdMob & Google Play Billing. Data keuangan tidak
         pernah dikirim; tidak ada server HitungIn. -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Pengingat tagihan dijadwalkan ulang setelah HP dinyalakan ulang.
         Sengaja TIDAK memakai izin alarm tepat waktu (dibatasi Play Store);
         pengingat boleh meleset beberapa menit. -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- allowBackup=false: database tidak boleh ikut dicadangkan otomatis
         ke Google Drive (HitungIn 100% offline, dan kunci Keystore tidak
         ikut tersalin sehingga hasil pulihnya tak bisa dibuka). -->
    <application
        android:label="HitungIn"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
        </activity>
        <!-- ID aplikasi AdMob. Ini ID UJI Google — ganti dengan ID asli dari
             konsol AdMob sebelum rilis (lihat lib/features/ads/ad_ids.dart). -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />
        <!-- Peluncur ikon Standar (activity kecil yang diteruskan ke MainActivity).
             Ikon lain (Pro) = activity-alias di bawah; hanya satu yang aktif.
             Lihat MainActivity.setIcon & lib/core/branding/app_icon_variants.dart. -->
        <activity
            android:name=".LauncherActivity"
            android:exported="true"
            android:enabled="true"
            android:taskAffinity=""
            android:noHistory="true"
            android:theme="@style/LaunchTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity-alias
            android:name=".IconGelap"
            android:targetActivity=".MainActivity"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_gelap"
            android:label="HitungIn">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".IconEmas"
            android:targetActivity=".MainActivity"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_emas"
            android:label="HitungIn">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".IconTerang"
            android:targetActivity=".MainActivity"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_terang"
            android:label="HitungIn">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- flutter_local_notifications: tampilkan & jadwalkan ulang pengingat tagihan. -->
        <receiver android:exported="false" android:name="com.dexterous.flutterlocalnotifications.ScheduledNotificationReceiver" />
        <receiver android:exported="false" android:name="com.dexterous.flutterlocalnotifications.ScheduledNotificationBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
